#jumbo-header.jumbotron {
  background-color: rgb(48, 140, 180);
}
#jumbo-header.jumbotron h1 {
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
}
.navbar {
  background-color: rgb(48, 140, 180);
  color: rgb(255, 255, 255);
}
.navbar a {  
  background-color: rgb(48, 140, 180);
  color: rgb(255, 255, 255);
}
.navbar-nav {
}
#maincontent {
  width: 90%;
  background-color:#eee;
}
#contentcontainer {
  justify-content: space-between !important;
  flex-wrap: wrap;
}
#menucontainer {  
  margin: 30px 30px 30px 30px;
}
#avatarcontainer {
  margin: 30px 30px 30px 30px;
}
 
.page-footer {
  background-color: rgb(69, 82, 110);
}
.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}
a.carousel-control-prev, a.carousel-control-next {
  width: 7%;
}
 
.carousel-control-prev-icon {
  position: absolute;
  left: 0; 
  margin: 10px 10px 10px 2px ;
   
}
.accordioncontainer{
  margin-top: 20%;
}
.carousel-control-next-icon {
  position: absolute;
  right: 0; 
  margin: 10px 2px 10px 10px ;
}
.carousel-indicators{
  margin: 0;
  position: absolute  ;
  bottom: 0 ;
}
.carousel-indicators li{
  background-color: black;
  bottom: 0 ;
   
}
 
.card-header {
background-color: rgb(9, 96, 155);
color:rgb(223, 231, 243);
text-transform: uppercase;
}
.card-header a{
  text-decoration: none;
color:rgb(223, 231, 243);
text-transform: uppercase;
}
.card-body {
  padding: 0;
}
.carousel-inner {
  padding: 1.25rem  ;
  background-color: rgb(206, 206, 206);
}
footer {
  color:rgb(223, 231, 243);
}
 
.btn {
  color:rgb(223, 231, 243);
  
} 
@media (min-width: 992px) {
  #avatarpic {
                position: sticky; top: 15%;
  }
   
}

.fa-chevron-down{
 float: right;
}