html {
position: relative;
min-height: 100%;
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100px;
    background-color: rgb(7, 22, 36);
    padding: 20px;
}
#name-nav{
    color: rgb(216, 216, 216);
    font-size: 100;
    margin-left: 400px;

}
#menu-container{
    position: absolute;
    background-color:rgb(227, 231, 235);
    left: 3%;
    top: 300px;
    width: 50%;
    min-height: 1350px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}
#avatar-container{
    position: absolute;
    background-color:rgb(227, 231, 235);
    right: 3%;
    top: 300px;
    width: 600px;
    min-height: 600px;
    margin-bottom: 20px; 
}
h2{
    margin: 10px;
    color: rgb(216, 216, 216);
    text-transform: uppercase;
}


#tops{
    position: absolute;
    top: 5%;
    left: 10%;
    width: 600px;
    background-color: rgb(43, 47, 49);
    min-height: 250px;
    align-content: center;
}
#bottoms{
    position: absolute;
    top: 30%;
    background-color: rgb(43, 47, 49);
    left: 10%;
    width: 600px;
    min-height: 250px;
    align-content: center;
}
#shoes{
    position: absolute;
    top: 55%;
   
    background-color: rgb(43, 47, 49);
    left: 10%;
    width: 600px;
    min-height: 250px;
    align-content: center;
}
#accessories{
    position: absolute;
    top: 80%;
  
    background-color: rgb(43, 47, 49);
    left: 10%;
    width: 600px;
    min-height: 250px;
    align-content: center;
}

#container{
    margin-bottom: 200px;
}
/* footer{
    position: absolute;
    min-height: 60px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(45, 50, 54);
} */